/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #000028;
  --headers-color: #000028;
  --paragraph-title-color: #FF0070;
  --text-color: #F1B2CE;
  --main-color: #FF0070;
  --decoration-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --heading-accent-color: #DB00FF;
  --margin-page: 10px;
  --visibility: visible;
  --buttons-color: #FF0070;
  --buttons-hover-color: rgba(255, 0, 112, 0.40);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --headers-color: #000028;
    --paragraph-title-color: #FF0070;
    --decoration-color: #FF0070;
    --text-color: #F1B2CE;
    --main-color: #FF0070;
    --bg-image: url(../images/cover-image-dark.png);
    --heading-accent-color: #DB00FF;
    --margin-page: 10px;
    --buttons-color: #FF0070;
    --buttons-hover-color: rgba(255, 0, 112, 0.40);
    }
  
  .decorated-element {
    visibility: var(--visibility);
    }
}

@media (prefers-color-scheme: dark) and (width >= 1024px) {
  .header__menu-heading {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer-heading {
    text-shadow: 2px 2px 0 #FF0070;
  }
}