/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-element {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 1px;
  text-transform: uppercase;
  margin: var(--padding-page);
}

.decorated-element::after {
  content: '';
  border-radius: 100%;
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  inset-inline-start: 42px;
  inset-block-start: 7px;
  background-color: var(--main-color);
  filter: drop-shadow(0px 0px 4px var(--main-color));
  box-shadow: 0px 0px 4px 2px var(--main-color);
}

.header {
  position: relative;
  padding: var(--padding-page);
  block-size: 100vh;
  margin-block-end: var(--margin-block-header);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  ". header-buttons"
  "heading heading"
  "description description";
}

.header::before,
.header::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  margin: var(--padding-page);
}

.decorated-zone::before {
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header__theme-menu {
  grid-area: header-buttons;
  justify-self: flex-end;
  block-size: 100px;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-size: inherit;
  text-align: center;
  color: var(--buttons-color);
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--buttons-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-block-end: 1px solid var(--buttons-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--buttons-color);
}

.header__menu-heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color:  var(--heading-accent-color);
  text-shadow: 4px 4px 0 var(--main-color);
  line-height: 0.825;
  grid-area: heading;
  align-self: center;
}

.header__menu-description {
  color: var(--headers-color);
  line-height: 1.3;
  font-weight: 700;
  align-self: center;
  grid-area: description;

}

.title-decor {
  background-color: var(--main-color);
}

.content-section {
  padding-inline: var(--padding-page);
}

.main__content-section:not(:first-of-type) {
  margin-block-start: 50px;
}


.main__content-section__header {
  color: var(--paragraph-title-color);
  font-size: var(--main-font-size);
  line-height: 1.3;
  font-weight: 700;
  margin-block-end: 20px;
}

.main__content-subsection__header {
  color: var(--headers-color);
  font-size: var(--main-font-size);
  line-height: 1.3;
  font-weight: 700;
  margin-block-end: var(--margin-page);
}

.main__content-subsection__description {
  color: var(--text-color);
  font-size: var(--main-font-size);
  line-height: 1.3;
  font-weight: 400;
  margin-block-end: 20px;
}

.main__content-subsection__description a {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--main-color);
}

.main__content-subsection__description a:focus {
  outline: none;
}

.main__content-subsection__description a:focus-visible {
  border: 1px solid var(--text-color);
}

.main__content-subsection__description a:hover {
  box-shadow: 0 1px 0 0 var(--text-color);
}

.main__content-subsection__description:last-of-type {
  margin-block-end: 0;
}

.main__content-list__header {
  color: var(--headers-color);
  font-size: var(--main-font-size);
  line-height: 1.3;
  font-weight: 400;
  margin-block-end: var(--margin-page);
}

.main__content-list__header:first-of-type {
  margin-block-start: 20px;
}

.gallery__container {
  margin-block-start: 50px;
}

.img__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 2.5rem;
  inline-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  block-size: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.decoration::before,
.decoration::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
}

.decoration::before {
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
  inset-inline-end: var(--padding-page);
  inset-block-start: var(--padding-page);
}

.decoration::after {
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
  inset-inline-start: var(--padding-page);
  inset-block-end: var(--padding-page);
}

.footer-heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color:  var(--heading-accent-color);
  text-shadow: 2px 2px 0 var(--main-color);
  line-height: 0.825;
  text-align: center;
}

@media (width > 376px) {
  .header,
  .content-section,
  .footer {
    --padding-page: 20px;
  }

  .header {
    grid-template-areas: 
    ". header-buttons"
    "heading heading"
    ". description";
  }
  .header__menu-heading {
    margin-inline-start: -20px;
  }

}

@media (width >= 768px) and (width < 1024px) {
  .header {
    margin-block-end: 60px;
  }

  .main__content-section {
    display: grid;
    grid-template-columns: 32.3% 1fr;
    margin-block-end: 80px;
  }

  .main__content-section__header {
    grid-column: 1 / 2;
    margin: 0;
  }

  .main__content-subsection__header {
    grid-column: 2 / 3;
    margin-inline-start: 20px;
    block-size: 23px;
    margin-block-end: 10px;
  }

  .main__content-section:nth-of-type(1) .main__content-subsection__header:first-of-type {
    grid-row-start: 1;
  }

  .main__content-section:nth-of-type(1) .main__content-subsection__description:first-of-type {
    grid-row-start: 1;
    margin-block-start: 33px;
  }

  .main__content-subsection__description {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-inline-start: 20px;
    margin-block-end: 20px;
  }



  .main__content-section:nth-of-type(2) .main__content-section__header:first-of-type {
    margin-block-end: 20px;
  }

  .main__content-section:nth-of-type(2) .main__content-subsection__header:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }

  .main__content-section:nth-of-type(2) .main__content-subsection__header:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }

  .main__content-section:nth-of-type(2) .main__content-subsection__header:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }


  .main__content-section:nth-of-type(2) .main__content-subsection__description:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }

  .main__content-section:nth-of-type(2) .main__content-subsection__description:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }

  .main__content-section:nth-of-type(2) .main__content-subsection__description:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-inline-start: 0;
  }
  
  .main__content-section:nth-of-type(3) .main__content-subsection__header {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-inline-start: 20px;
  }

  .main__content-section:nth-of-type(3) .main__content-subsection__header {
    grid-row-start: 1;
  }

  .main__content-list__header:first-of-type {
    grid-row-start: 1;
    block-size: 23px;
    margin-block-start: 46px;
  }

  .main__content-section:nth-of-type(3) .main__content-list__header {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-inline-start: 20px;
  }

  
  .main__content-section:nth-of-type(3) .main__content-subsection__description:first-of-type {
    grid-row-start: 1;
    margin-block-start: 80px;
  }

  

}

@media (width >= 768px) {
  .gallery__container .main__content-subsection__header {
    margin-inline-start: 0;
    margin-block-end: 20px;
  }

  .gallery__container {
    margin-block-end: 60px;
  }


  .img__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "sunset sunset ice-cream"
    "cassete books ice-cream"
    "cassete street street";
  }

  img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .img-content {
    cursor: pointer;
  }

  .img-content:nth-of-type(1) {
    grid-area: sunset;
  }

  .img-content:nth-of-type(2) {
    grid-area: ice-cream;
  }

  .img-content:nth-of-type(3) {
    grid-area: cassete;
  }

  .img-content:nth-of-type(4) {
    grid-area: books;
  }

  .img-content:nth-of-type(5) {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-rows: 1.625rem 17.063rem min-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: ". header-buttons header-buttons ."
    ". . . ."
    "heading heading heading heading"
    ". . description description";
    margin: 0;
    margin-block-end: 60px;
  }

  .header__menu-heading, .footer-heading {
    font-size: var(--heading-font-size);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu {
    justify-self: center;
    block-size: 26px;
  }

  .main__content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-block-end: 80px;
}

  .main__content-section:nth-of-type(1) .main__content-subsection__header,  .main__content-section:nth-of-type(3) .main__content-subsection__header {
    grid-column: 2 / 4;
}

  .main__content-section:nth-of-type(1) .main__content-subsection__header:first-of-type {
    grid-row-start: 1;
    block-size: 23px;
  }

  .main__content-section:nth-of-type(1) .main__content-subsection__description {
    grid-column: 2 / 4;
}

.main__content-section:nth-of-type(1) .main__content-subsection__description:first-of-type {
  grid-row-start: 1;
  margin-block-start: 33px;
}

.main__content-section:nth-of-type(2) .main__content-subsection__header {
  grid-row: 2 / 3;
}

.main__content-section:nth-of-type(2) .main__content-subsection__header:first-of-type,
.main__content-section:nth-of-type(2) .main__content-subsection__description:first-of-type {
  grid-column: 1 / 2;
}

.main__content-section:nth-of-type(2) .main__content-subsection__header:nth-of-type(2),
.main__content-section:nth-of-type(2) .main__content-subsection__description:nth-of-type(2) {
  grid-column: 2 / 3;
}

.main__content-section:nth-of-type(2) .main__content-subsection__header:nth-of-type(3),
.main__content-section:nth-of-type(2) .main__content-subsection__description:nth-of-type(3) {
  grid-column: 3 / 4;
}


.main__content-section:nth-of-type(2) .main__content-subsection__description {
  grid-row: 3 / 4;
}

.main__content-section:nth-of-type(3) .main__content-subsection__header {
  grid-row-start: 1;
  block-size: 23px;
  margin: 0;
}

.main__content-section:nth-of-type(3) .main__content-list__header,
.main__content-section:nth-of-type(3) .main__content-subsection__description{
  grid-column: 2 / 4;
}

.main__content-section:nth-of-type(3) .main__content-list__header:first-of-type {
  grid-row-start: 1;
  margin-block-start: 43px;
  block-size: 23px;
}

.main__content-section:nth-of-type(3) .main__content-subsection__description:first-of-type {
  grid-row-start: 1;
  margin-block-start: 76px;
}

}


.popup {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.6s;
}

.popup_is-animated {
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.popup__caption {
  color: white;
}